.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.game__item {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.green {
  background: green;
}

.orange {
  background: orange;
}